body
{
    background-image: url("bk8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}
.alert p
{
    font-size: 30px;
    text-align: center;
}
.panel p
{
    font-weight: bold;
    font-size: 15px;
}
